@media (max-width: 720px) {
  .info {
    color: #fff;
  }
  .list-container a {
    padding: 0;
  }
  .img-container {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .img-container img {
    margin: -9.5% 0;
    width: 100%;
    height: auto;
    filter: brightness(65%);
    text-overflow: ellipsis;
  }

  .list-container {
    padding: 0 0;
    display: flex;

  }

  .list-container h2 {
    position: absolute;
    top: 60%;
    left: 4%;
    font-size: 2em;
    font-weight: 800;
  }
  .list-container h3 {
    position: absolute;
    top: 50%;
    left: 4%;

  }

  .list-x {
    position: absolute;
    top: 15px;
    left: 85%;
  }

}




@media (min-width: 720px) {

  .list-page {
    padding-top: 5%;
  }

  .list-page .page-title {
    font-size: 8em;
    margin-top: 19vh;

  }



  .list-container {
    padding: 3% 5vw;
    display: flex;

  }

  a {
    color: #fff;
  }
  a:hover {
    text-decoration: none;
    color: #fff;
  }
  .list-item {
    position: relative;
  }

  .list-item img {
    margin: -9.5% 0;
    max-width: 100%;
    height: auto;
    filter: brightness(65%);
    text-overflow: ellipsis;

  }

  .img-container {
    position: relative;
    overflow: hidden;
    max-width: 400px;
    width: 100%;
  }

  .list-container h2 {
    position: absolute;
    top: 60%;
    left: 4%;
    font-size: 1.5em;
    font-weight: 800;
  }
  .list-container h3 {
    position: absolute;
    top: 50%;
    left: 4%;
    font-size: 1.2em;

  }

  .list-x {
    position: absolute;
    top: 15px;
    left: 80%;
  }

}
