

.linkform {
  padding-top: 60px;
}

.display-comment:last-of-type {
  padding-bottom: 5vh;
}
.display-comment .button {
  width: 90%;
  text-align: left;
  padding: 10px 20px;
  transition: all .3s ease;
  margin-bottom: 10px;
}

.display-comment .button:active, .display-comment .button:focus {
  background: #fc9d9d;
  border: #fc9d9d solid 0.1em;
  color: #4f3961;
  font-size: 1.55em;
}
.x-button {
  background-color: #4f3961;
  border: none;
}

.x-icon:hover {
  color: #fc9d9d;
}
.x-icon {
  color: #fff;
  width: 34px;
  height: 34px;
  transition: all .3s ease
}

.save {
  color: #EB728B;
  border: #EB728B solid 3px;
  font-weight: 700;
}
.save:hover {
  background: #EB728B;
  border-color: #EB728B;

}


@media (max-width: 720px) {
  .save {
    font-size: 1.5em;
    width: 100%;
    padding: 20px;
  }
  .container-fluid {
    padding: 0;
  }
  .display-comment:last-of-type {
    padding-bottom: 2vh;
  }
}

@media (min-width: 720px) {

  .col-md-6 {
    padding: 0
  }
  .container-fluid {
    padding: 0
  }

  .page-title {
    font-family: 'Raleway';
    font-weight: 800;
    position: absolute;
    z-index: 30;
    padding-left: 5%;
    margin-top: 15vh;
    font-size: 10em;
    text-transform: uppercase;
    animation: fade_in_down 1.2s ease-in-out 0s;
  }

  @keyframes fade_in_down {
    0% {
      margin-top: 10vh;
      opacity: 0%;
    }
    100% {
      margin-top: 15vh;
      opacity: 100%;
    }
  }

  .form-container {
    padding: 5vh 2vw 10vh;
  }

  .form {
    display: flex;
  }

  .title-form {
    display: flex;
    font-size: 20px;
    flex-direction: column;
  }

  .title-form input {
    padding: 10px 0;
    border-bottom: solid 2px #ea728c;
    /* animation: fade_in 1.2s ease-in-out 0s; */
  }

  .url-input {
    margin-bottom: 20px;
  }

  .title-input {
    width: 255px;
  }

  .url-input {
    width: 505px;
  }

  .left-side {
    position: fixed;
  }

  .right-side {
    position: relative;
    left: 60%;
    overscroll-behavior: contain;
  }
  .left-side, .youtube-container, .right-side, .video-title, .display-comment, .button{
    animation: fade_in 1s ease-in-out 0s
  }
  .left-side h2 {
    font-weight: 600;
    letter-spacing: 2.2px;
  }
  .video-title {
    padding: 3vh 0;
  }

  .video-title button {
    margin: 1vh 0 2vh;
  }

  .parsed-stamp {
    font-size: 18px
  }
  .comment-body {
    width: 100%;
    overflow-wrap: break-word;
    hyphens: auto;
  }
  .timestamp-button {
    text-align: left;
    overflow-wrap: break-word;
  }

  .display-comment {
    padding-bottom: 2vh;
    transition: padding-bottom .3s ease-out
  }



  .comment-form {
    border-top: solid 3px #fff;
    padding-top: 3vh;
    display: flex;
    align-items: baseline;
    flex-direction: column;
  }
  .comment-form textarea {
    width: 70%;
  }
  .comment-form .button {
    margin-bottom: 20px;
  }



  .at {
    padding-right: 3px;
  }
 .timestamp{
    font-size: 30px;
  }


}


.login {
  padding-top: 5.2%;
}


@keyframes fade_in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
